.App {
  text-align: center;
}


.App-header {
  background: repeating-linear-gradient(
    45deg,
    #E74C3C,
    #E74C3C 30px,
    #C0392B 30px,
    #C0392B 60px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  
  font-family:'Mountains of Christmas', cursive;
  font-style: normal;
  color: white
}


@font-face {
  font-family: 'Mountains of Christmas';
  font-style: normal;
  src: local("Mountains of Christmas"), local("MountainsofChristmas-Regular"), url(https://fonts.gstatic.com/s/mountainsofchristmas/v8/dVGBFPwd6G44IWDbQtPewylJhLDHyIrT3I5b5eGTHmw.woff2) format("woff2"); }
